<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
      <ion-img src="assets/profile.jpg"></ion-img>
  </ion-item>
  <ion-card>
      
      <ion-card-header><ion-icon name="person"></ion-icon>&nbsp; Akshatha A M <ion-icon class="icon" name="create"></ion-icon></ion-card-header>
      <!-- <ion-card-header><ion-icon name="call"></ion-icon>&nbsp; 123456789</ion-card-header> -->
  </ion-card>
  <ion-card>
    <ion-title style="font-size:18px; color:darkolivegreen">About and phone number</ion-title>
  </ion-card>
<ion-item lines="none">
    <ion-label style="margin-top:20px"><ion-icon color="primary" name="call"></ion-icon>&nbsp;+91-7406740482</ion-label>
    <ion-button (click)="locate()">Locate me</ion-button>
</ion-item>
</ion-content>
