<ion-header>
  <ion-toolbar>
    <ion-title align="center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title style="text-align:center; color:coral; font-size:25px;">Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>BIL is proud to be a part of the LNJ Bhilwara Group. LNJ is a professionally managed corporation that sets examples for each company within the group. With over 25,000 employees worldwide, we are one of the largest employers in India with sales in excess of 1.5 Billion.</p>
          <br/>
            <p>LNJ is involved in a variety of projects, each of which has excelled in its own field. The list includes hydro-electric power plants, retail garments, graphite electrodes, sponge iron, information technology, power consultancy and financial services. Of these projects, LNJ successfully owns and operates six well known garment brands in different categories.</p>
            <br/>
            <p>We inherit our customer care policy from our group. LNJ sets numerous examples in the area of customer satisfaction and taking that extra step which others may not. This philosophy combined with world class business management practices sets LNJ in a class of its own.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
